{% extends "base.html" %}
{% load url from future %}

{% block extrahead %}
<script src="/static/js/user.js"></script>
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Welcome {{ request.user }}!</h1>
</div>
<div class="badge_list">
	<h3>Current Badges:</h3>
    {% include "badger/includes/awards_as_badges_list.html" %}
</div>
<div class="sidebar">

	<div class="badge_code">
		<h5>Claim a badge</h5>
		<div class="input_wrapper">
		<input id="badge_code"></input>
	</div>
		<a class="button green" href="#" onClick="getCode()">Redeem Badge</a>
	</div>
</div>
{% endblock %}

