body {
	background-color: #808080;
}

section{
	border: 1px solid black;
}

.badges_list h2{
	font-family: Sans-serif;
}


.badges_list ul{
	list-style-type: none;
}

.badges_list ul li{
	display: inline-block;
	padding: 5px;
	text-align: center;
}



