body {
	margin: 0;
}


span{
	max-width: 10px;
}

.badges_list .badges .badge .textlimit .title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	width: 10px;
}
 

.badges_list h2{
	font-family: Sans-serif;
}


.badges_list .badges{
	list-style-type: none;
}
.awards_list .awards{
	list-style-type: none;
}

.badges_list .badges .badge{
	font-family: Sans-serif;
	display: inline-block;
	padding: 5px;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.awards_list .awards .award{
	font-family: Sans-serif;
	display: inline-block;
	padding: 5px;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.badges_list .badges .badge  .image{
	font-family: Sans-serif;
}

header{
	background: #000;
	margin: 0;
	padding: 10px;
}

header a#logout {
	display: inline;
	float: right;
}
header a#login {
	display: inline;
	float: right;
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
}

.button{
	padding: 5px 10px;
	border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	color: #fff;
	text-decoration: none;
}

.button.green{
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
}

div.title{
	color: #fff;
	display: inline;
	float: left;
	font-size: 26px;
}
