{% load badger_tags %}

<ul class="awards">
    {% for award in award_list %}
 
        <li class="award">

            <a class="award_image"><img src="{% award_image award %}"
                alt="{{ award.badge.title }}" width="128" height="128" /></a>
        
            <div class="label">
                <span class="badge_title">{{ award.badge.title }}</span>
                <span class="relation">awarded to</span>
                <span class="user">{{ award.user }}</span>
            </div>
            

        </li>

    {% endfor %}
</ul>
{% include "badger/includes/pagination.html" %}
